h1{
    color:#dddddd;
}

#loading_wrapper{
    width: 100%;
    display: block;
    text-align: center;
    position: fixed;
    display: none;
}

#loading_wrapper p{
    background-color: #fde88e;
    width: 100px;
    height: 20px;
    margin: 0 auto;
    font-weight: bold;
}

/*DIV - table*/
.table{
   display:table;   
}
 
.row{
   display:table-row;   
}
 
.col{
    display:table-cell;
    padding-right: 5px;
}

.col-header{
    display:table-cell;
    padding-right: 5px;
    font-weight: 600;
}